{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  lexmapr-django is still in the development phase, and is currently catered towards food and environmental samples.
  <br>
  <br>
  {% crispy form %}
  {% if results %}
    <div id="pipeline_results">
      <table class="table table-bordered">
        {% for row in results %}
          <tr>
            {% for val in row %}
              <td>{{ val }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}
{% endblock %}
