{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <p class="text-info">
    LexMapr Django currently runs LexMapr 0.5.0.
  </p>
  <p>
    LexMapr Django is still in the development phase, and is currently catered
    towards food and environmental samples.
  </p>

  {% crispy form %}

  {% if job_submission_status == 200 %}
    <p>Job submitted. When completed, results will be available at:</p>
    <a href="{{ job.get_absolute_url }}">{{ job.get_absolute_url }}</a>
  {% endif %}

  {% if job_submission_status == 400 %}
    <p class="text-danger">
      {{ err_msg }}
    </p>
  {% endif %}

{% endblock %}
