{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <p class="mb-4">
    lexmapr-django is still in the development phase, and is currently catered
    towards food and environmental samples.
  </p>

  {% crispy form %}

  {% if job_id %}
    <p>Job submitted. When completed, results will be available at:</p>
    <a href="{% url 'pipeline:temp' job_id=job_id %}">
      {% url 'pipeline:temp' job_id=job_id %}
    </a>
  {% endif %}

  {% if job_not_created %}
    <p class="text-danger">
      Something went wrong when validating the above form. Please contact us.
    </p>
  {% endif %}

{% endblock %}
